extends layout

block content
    h1 #{title}
    form    
        .form-group
            label Nombre:
            input.form-control(type='text')
        .row
            .col 
                .form-group
                    label Primer Apellido:
                    input.form-control(type='text')
            .col
                .form-group
                    label Segundo Apellido:
                    input.form-control(type='text')
        .form-group
            label Correo Electronico:
            input.form-control(type='text')
        .form-group
            label Numero de Telefono:
            input.form-control(type='text')
        .form-group
            input.btn.btn-primary(type='submit' value='Registrarse')